@media screen and (min-width: 1200px) {
  .advant {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.advant__item {
  width: 100%;
}

.advant__list {
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .advant__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .advant__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .advant__list .advant__item + .advant__item {
    margin-left: $set-gap;
  }
}

.advant__content {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  height: 120px;
  background-color: $pale-background;
  border-radius: 4px;
}

.advant__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advant__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advant__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.advant__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $graphite-dark;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.advant__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: justify;
}
