.footer-block {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $dark-background;
}

.footer-content {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-content {
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .address-block {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-block {
    margin-right: 70px;
  }
}

.logo.footer-sign {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  text-decoration: none;
  color: $white-text-op60;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.address-link-white {
  color: $white-text;
}

@media screen and (max-width: 1199px) {
  .join-block {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-block {
    margin-left: auto;
  }
}

.join-mailing-content {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  color: $white-text;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

footer .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

footer .social-list__icon {
  fill: $white-text;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200) {
  .contact-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-align: right;
  }
}

.footer-input {
  width: 358px;
  height: 50px;

  padding-left: 16px;
  margin-right: 12px;

  background-color: transparent;
  border: 1px solid $white-color-op30;
  border-radius: 4px;
  color: $white-text-op60;

  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $dark-background;
  }

  &::placeholder {
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.25;
    color: $white-text-op60;
  }
}

@media screen and (max-width: 767px) {
  .footer-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing-block {
    flex-basis: 450px;
  }
  .button-primary.subscription {
    margin-top: 20px;
  }
}

.svg-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
