.hero__overlay {
  display: block;
  padding-top: 118px;
  padding-bottom: 118px;

  background-position: center;
  background-repeat: no-repeat;
  max-width: 480px;
  height: 400px;
  background-size: cover;
  margin: 0 auto;

  text-align: center;

  background-color: $hero-background;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-section/hero-mobile.jpg");
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-section/hero-tablet.jpg");
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-section/hero-desktop.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__overlay {
    background-image: url("../images/hero-section/hero-mobile@2x.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__overlay {
    background-image: url("../images/hero-section/hero-tablet@2x.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__overlay {
    background-image: url("../images/hero-section/hero-desktop@2x.jpg");
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $white-text;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
