.modal-form-caption {
  margin-bottom: 12px;

  color: $graphite-dark;

  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:hover + &,
  .modal-form-input:focus + & {
    fill: $blue-color;
  }
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid $form-input-color;
  border-radius: 4px;

  &:focus {
    border-color: $blue-color;
    outline: none;
  }
}

.modal-form-field {
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.modal-form-message {
  width: 100%;
  height: 120px;

  resize: none;

  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid $form-input-color;
  border-radius: 4px;

  &::placeholder {
    color: $form-commentary-color;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }

  &:focus {
    outline: none;
    border-color: $blue-color;
  }
}

.modal-form-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form-checkbox-policy {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $grey-text;

  &::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 16px;
    height: 15px;

    background-image: url(../images/icons-for-form/form-box.svg);
    cursor: pointer;
    margin-right: 10px;

    .modal-form-checkbox:checked + & {
      background-image: url(../images/icons-for-form/check-colored.svg);
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.modal-form-policy-link {
  color: $blue-color;
}

.modal-form-btn {
  align-self: center;
  min-width: 200px;

  margin-top: 30px;
}
