$blue-color: #2196f3;
$blue-color-op09: rgba(33, 150, 243, 0.9);

$black-text: #000000;

$grey-text: #757575;
$pale-background: #f5f4fa;
$dark-background: #2f303a;
$hero-background: #c4c4c4;
$icons-color: #afb1b8;

$white-text: #ffffff;
$white-text-op60: rgba(255, 255, 255, 0.6);
$white-color-op30: rgba(255, 255, 255, 0.3);

$graphite-dark: #212121;
$border-color: #ececec;

$set-gap: 30px;

$form-input-color: rgba(33, 33, 33, 0.2);
$form-commentary-color: rgba(117, 117, 117, 0.5);

$services-overlay-background: rgba(47, 48, 58, 0.8);
